body{
    background-color: black;
}

h1
{
    color:white;
}

h2{
    color:white;
}

h3{
    color:white;
}

h4{
    color: white;
   
    
  display:block;
}

.title{
    width:90%;
    height:600px;
    text-align: center;
    margin-left:5%;
}
hr{
    width:8%;
    float:left;
    
}

.team{
width:20%;
border-style: solid;
border-color: white;
float:left;
color:white;
margin-left: 7%;
margin-right: 5%;
margin-bottom: 5%;

}

.backBtn{
    position:fixed;
    bottom:0px;
    background-color:black; 
    border: none;
    color: white;
   
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.backBtn:hover{
background-color: white;
color: black;
}