/*blog page*/



.faq {
    background-color: rgb(15, 15, 15);
    
  }
  .faq1
{ 
    width: 20%;
    margin-left:10%;
    padding-top:2%;
    border-bottom:2px solid #ccc;
    background-color:white;
    border-radius:4px;
    padding-left:1%;
    font-size:14px;
}
#tile2
{
    width: 30%;
    height: 30%;
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
    overflow: none;
    float: left;
}

#blog1{
    background-color: chartreuse;
   margin-left: 2%;
}

#firstBlog1{
    float: left;
    font-size: 30px;
    transition: max-height 0.15s ease-out;
}

#blog2{
    background-color: aqua;
    float:left;
    
}

#secondBlog1{
    float: left;
    font-size: 30px;
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}


#blog3{
  background-color: lawngreen;
  float:left;
  margin-top: 2%
}

#thirdBlog1{
   
    font-size: 30px;
}

#blog4{
    background-color: lightsalmon;
    float:left;
    margin-top: 2%;
    margin-left: 2%;
  }

  .center 
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}