.blogtile{
    
    width: 90%;
    height:90%;
    background-color: black;  
    padding-right:2%;
    padding-left:3%;  
    
}
.pblock1
{
    float:right;
    margin-right:25%;
}
.pblock2
{
    float:left;
    
}
.textblock1{
  
    width: 40%;
    height:30% ;
    margin-bottom: 0%;
    background-color:black;
    margin-top:3%;
    float:right;
    margin-right: 3%;
    margin-left: 7%;
}
.imageblock1{
    width:50%;
    float: left;
    margin-left: 0%;
    height:70%;
}
overlook{
    width: 90%;
}

.imageblock2{
    width:50%;
    float: right;
    margin-right: 0%;
    height:70%;
}
.textblock2{
    width: 40%;
    height:30% ;
    margin-bottom: 0%;
    background-color:black;
   margin-top:3%;
    
    float:left;
    margin-left: 5%;
}


body{
    background-color:black;
}


    
  
  h4{
      display:block;
      font-weight: bold;
      text-align: center;
      font-size: 1em;
  }
  
  
  h3{
      color:white;
      font-size: 2em;
  }
  h1{
      font-size: 200%;
      color: white;
  }
p{
    color:whitesmoke;
}

img1{
    width:800%;
    height:30%;
    margin-left:4%;
    margin-right:4%;
    
}

#blogPhoto
{
    text-align:center;
    color:white;
    font-size: 60px;
    text-shadow: 3px 3px black;
    font-family: 'Work Sans', sans-serif; 
    font-weight: bold;
    display:block;
    height:500px;
    margin-bottom:5%;
    background-image: url('images/updated2.png');
    background-size: cover;
    filter: brightness(77%);
}

.center 
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

hr{
    
    color: white;

}

.blogBtn{
    color:white;
    border: none;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    background-color: #120fbf;
    font-size: 20px;
    margin: 1px 1px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 47%;
    margin-bottom: 1%;
}
.blogBtn:hover{
   background-color:black;
}
.aboutTeam{
    float:right;
}

.blogcontain2
{
    padding:0;
    margin:0;
}
/* Adapted from https://www.w3schools.com/csS/tryit.asp?filename=trycss_buttons_hover */