.container
{
    text-align: center;
    width: 75%;
    margin: auto;
    padding: 2.5%;
    color: white;
}

#image-checkout
{
    margin: auto;
    height: 40%;
    width: 60%;
}
.title-msg
{
    padding-top: 0;
    font-size: 2.6em;
}