.left{
    float: left;
    width: 45%;
    padding-left: 10%;
    margin:0;

}

.vertical{
    border-right: 4px black;
    height: 60%;

}
.right{
    float: left;
    padding-right: 10%;
    width:45%;
}

.checkbutton{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

.checkbutton {
    background-color:gainsboro; 
    color: black; 
   
}

.checkbutton:hover {
    background-color: black;
    color: white;
}

table{
    border-collapse: collapse
}

table,tr, td{
    color:white;
    text-align: center;
    
}
tr.border{
    border-bottom:1px solid white;
}
tr.size{
    font-size: 20px;
}

h3{
    color: white;
}

h1{
    color:white;
}



.action{
    background-color:#120fbf; 
    border: none;
    color: white;
    padding: 1px 1x;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 1px 1px;
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
  
}

.action:hover{
    background-color: black;
   
   
}

.delaction{
    background-color:#120fbf; 
    border: none;
    color: white;
    padding: 1px 1x;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 1px 1px;
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
  
}

.delaction:hover{
    background-color: red;
   
   
}
.total{
    width: 10%;
    margin-left:10%;
    overflow: hidden;
}
.amount{
    color: white;
}
.amount2{
    text-align:right;
    color: white;
}
.information{
    margin: auto;
    padding: 0;
    width: 80%;
}

table
{
    width: 100%;
}
th
{
    font-size: 1.8em;
}
td
{
    font-size: 1.3em;
}

.cell-right
{
    text-align: right;
}

.par{
    width:100%;
    color:white;
    height:4%;
  
}
h4{
    color:white;
}
p{
   color: white;
   font-size: 1em;
 
}
.nam{
    float:left; 
    margin-left:1%;
}
.siz{
    float:left; 
    margin-left:10%;
}

.pri{
    float:right; 
    margin-left:14%;
}


hr{
color: black;    
}

/*  .r{
    float: right;
}
.q{
    float:right;
}*/
