#image
{
    display:none;
}
#fileUploader
{
    display: inline-block;
    background-color: #120fbf;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
#fileUploader:hover
{
    background-color: black;
}
.postTitle
{
    height: 50px;
    width: 375px;
    font-size: 16px;
    text-align: center;
    background-color: white;
}
.postContent
{
    background-color: white;
    height: 200px;
    width: 800px;
}