#headercontain
{
    text-align:center;
    color:white;
    font-size: 60px;
    text-shadow: 3px 3px black;
    font-family: 'Work Sans', sans-serif; 
    font-weight: bold;
    display:block;
    height:500px;
    background-image: url('images/ink2.jpg');
    background-size: cover;
    filter: brightness(77%);
    x-webkit-animation: slide 4s linear infinite alternate;

   
}

@-webkit-keyframes slide{
    from {background-position:0 0;}
    to {background-position:  0 -60px ;}
}

.center 
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#allfaqs
{
    
    background-color:black;
    width:60%;
    height:1500px;
    font-family: 'Work Sans', sans-serif; 
    padding-top:5%;
    color:white;
    padding-bottom:10%;
    display:inline-block;
    line-height: 1.5em;
}

.faq1
{ 
    width: 75%;
    margin-left:6%;
    padding-top:2%;
    padding-bottom:1%;
    border-bottom:2px solid #ccc;
    background-color:black;
    border-radius:4px;
    padding-left:1%;
    font-size:16px;
}

p
{
    padding-top:2%;
    margin-bottom:2%;
    margin-left:1.5%;
}

button
{
    background-color: blue;
    border-color: black;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    margin-top:2%;
    margin-right:2%;
    font-size: 10px;
    font-weight:bold;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.8s;
    float:right;

}


.faq {
    background-color: black;
    
  }

  .shopphoto
  {
      width:32%;
        height:500px;
        float:right;
        margin-right:8%;
        margin-top:18%;
  }

  

  





