/* Log in Page*/
#loginBox
{
    background-color: rgb(73,73,73);
    height: 450px;
    width: 500px;
    margin: auto;
    padding: 2%;
    margin-top: 100px;
}

.credentials
{
    display: block;
    height: 50px;
    width: 250px;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 3%;
    
}
.credButt
{
    background-color: #120fbf;
    color: white;
    border: #111;
    font-size: 35px;
    height: 50px;
    width: 250px;
    margin-top: 2%;
    cursor: pointer;
    transition-duration: 0.4s;
}
.credButt:hover
{
    background-color: black;
}
.hyperlink
{
    color: #ffffff;
    margin-top: 8px;
    display: inline-block;
    transition-duration: 0.4s;
}
.hyperlink:hover
{
    color: #a09fff;
}