*
{
    font-family: 'Work Sans', sans-serif !important;
}
body
{
    margin: 0;
    /*changed margin-top so that the body is not underneath the nav bar*/
    margin-top: 62px;
    background-color: black;
    padding: 0;
    font-family: 'Work Sans', sans-serif !important;
}

/* NAV */
#ulNav
{
    z-index: 99998;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #303030;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    
}
/*liNAV- border-right: 2px solid #bbb;*/
#liNav 
{
    font-size: 30px;
    border-right: 2px solid #111;
    display: inline-block;
    
}
#liNav:last-child
{
    border-right: none;
}
#aNav
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 1s;
    font-weight:bold;
    text-transform: uppercase;
}
#aNav:hover
{
    background-color: #111;
    color:white;
}

@media only screen and (max-width:1550px){
    #liNav
    {
        font-size: 25px;
    }    
}


.header
{ 
    padding-top: 4%;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color:white;
}

#wrapper
{
    background-color: rgb(73,73,73);
    width: 80%;
    margin: auto;
    padding: 2%;
    margin-top: 75px;
}

/* adpated from https://www.w3schools.com/css/css3_buttons.asp */
.button{
    background-color:#120fbf; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover{
    background-color:black; 
}

.delbutton{
    background-color:#120fbf; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;

    transition-duration: 0.4s;
    cursor: pointer;
}
.delbutton:hover{
    background-color:red;
}

/* Floating Create Button*/
#createButt
{
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #120fbf;
    color: white;
    cursor: pointer;
    padding: 12px;
    transition-duration: 0.4s;
    font-size: 30px;
    text-decoration: none;
}
#createButt:hover 
{
background-color: black;
}

  /* input text boxes slightly bigger */
.inputField
{
    padding: 15px;   
}

#image
{
    display:none;
}
#fileUploader
{
    display: inline-block;
    background-color: #120fbf;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
#fileUploader:hover
{
    background-color: black;
}
