.manageButt
{
    background-color: #120fbf;
    color: white;
    border: #111;
    font-size: 50px;
    height: 16%;
    width: 100%;
    margin-top: 2%;
    cursor: pointer;
    transition-duration: 0.4s;
}
.manageButt:hover
{
    background-color: black;
}