.separate
{
    border-top: 2px solid black;
}

.formMargin
{
    margin-top: 1em;
}

.postTitle
{
    height: 50px;
    width: 375px;
    font-size: 16px;
    text-align: center;
    background-color: white;
}
.postContent
{
    background-color: white;
    height: 200px;
    width: 800px;
}
#createButt
{
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #120fbf;
    color: white;
    cursor: pointer;
    padding: 12px;
    transition-duration: 0.4s;
    font-family: 'Courier', courier new, serif;
    font-size: 30px;
  }
  #createButt:hover 
  {
    background-color: black;
  }
.whiteTxt
{
    color: white;
    text-decoration: none;
    font-weight: bold;
}