/*
* Adapted from https://www.w3schools.com/howto/howto_css_modals.asp
*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content
{
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 40%;
}
/* Modal Header */
.modal-header
{
    padding: 2px 16px;
    background-color: #120fbf;
    color: white;
    font-size: 2em;
}
/* Modal Body */
.modal-body
{
    padding: 20px;
    font-size: 18px;
}
.modal-butt
{
    padding: 4px 20px;
    background-color: #120fbf;
    color: white;
    float: right;
    font-size: 25px;
    margin: 5px;
    text-decoration: none;
    border: none;
}

/* The Close Button */
.close
{
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}