
#artistInfo
{
    height:50%;
    background-color: black;
    padding-top:50px;


}

#artistPhoto
{
    width: 45%;
    background-color: black;
    height: 90%;
    float: left;
    line-height: 5%;

}

#artistBio
{
    
    width: 45%;
    
   margin-right:5%;
    float:right;
    margin-left: 0%;
    height: 40%; 
}

h1{
color: white;
margin-left: 45%;
}

h3{
    font-size:2em;
    
    color: white;
}

#artistArt{
   
    width:100%;
    height: 30%;
    margin:0 auto ;
   
    margin-right: 5%;
    margin-bottom: 10%;
}
hr{
    color: white;
    margin-left: 2%;
    margin-right: 2%;
}

p{
    color: white;
    margin-left: 10%;
}

.pictureholder{
    margin-top:1%;
    height:70%;
    width:18%;
    background-color: white;
    margin-bottom: 2%;
    float: left;
    margin-left:10%;
    margin-right:2%;
}
.imageholder{
    width: 75%;
    
    height: 90%;
    float: left;
    margin-left: 15%;
   
}

.portpost{
    width:100%;
    height:30%;
    margin-bottom: 6%;
    margin-top: 5%;
}
.post{
  
    width:45%;
    float:left;
}
.post1{
    
    width:45%;
    float:right;
    margin-right:3%;
}

.posting{
    float:left;
    width:30%;

    margin-left: 3%;
    margin-right: 4%;
}
posttext{
    float:left;
    margin-right:15%;
    margin-left:10%;
}
.text{
  margin-left: 3%;
}

h4{
    color:white;
    text-align: center;
}
.larger{
    transition: transform 1s;
}
.larger:hover{
    transform: scale(1.3);
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    
}

@media only screen and (max-width:500px){
    #artistPhoto,#artistBio,#artistArt,.imageholder,.pictureholder,printFooter {
        width:100%;
    }
}