/*store stuff*/   
body
{
    font-family: 'Work Sans', sans-serif;
}
#store-splash-photo
{
    background-image: url('images/shirts3.jpg');
    background-size: cover;
    font-weight: bold;
    height: 500px;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align:center;
    color:white;
    text-shadow: 3px 3px black;
    font-size: 60px;
    filter:brightness(77%);
}
.center 
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item-row
{
    /*not sure what to do with this yet but I feel like I'll want it*/
}
.merch-Item
{
    width : 30%;
    margin-left:2%;
    float:left;
    height:30%;
    margin-top: 1%;
    margin-bottom: 1%;
    
}

.info{
    width:30%;
    height:20%;
   float:left;
    margin-left: 5%;
}

p{
    font-size: 100%;
}


h1{
    color: white;
    font-size: 1000%;
    
}
h2{
color: white;
margin-left: 10%;
font-size: 3em;
margin-bottom: 0%;
}
hr{
   
}
.imageholder{
    width:60%;
    float:left;
}
.shopButton{
    background-color:#120fbf; /* Green */
    border: none;
    color:white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
} 
.shopButton:hover{
    background-color: black;
}

.cartButt
{
    right: 10;
    top: 2;
    position: absolute;
}


/* cart stuff
*
*  cart notification number
*/
.badge
{
    position: relative;
    background: #120fbf;
    font-size: 15px;
    color: white;
    padding: 5px;
}

/*.badge::after
{
    /*content: attr(num);
    
}*/