/* 
ONLY BLOCK COMMENTS LIKE THIS ARE ALLOWED IN .CSS FILES 
*/

@import "compass/css3";
body
{

    margin: 0;
    /*changed margin-top so that the body is not underneath the nav bar*/
    margin-top: 62px;
    background-color: black;
    padding: 0;
}

/* tile class is for the homepage. One tile is each section */
.tile
{
    width: 100%;
    display: inline-block;
    padding-left: 0%;
    padding-right: 0%;
    overflow: none;
}


/* Splash photo for the main page */
#splashPhoto
{
    background-image: url('images/mountain.png');
    background-size: cover;
    height: 750px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.center
{
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-top: 5%;
}

.rightImg
{
    width:35%;
    height:35%;
    float:right;
    margin-right:7%;
    padding-top:10%;
    margin-bottom:5%;
}

.rightImg2
{
    width:50%;
    height:100%;
    float:left;
    position:relative;
    margin-top:2%;
    
}

.leftImg
{
    width:50%;
    height:100%;
    float:left;
    margin-left:3%;
    margin-top:2%;  
}

#after
{
display: block;
content: '';
width: 130px;
height: 65px;
bottom: -40px;
left: 50%;
margin-left: 46%;
background-color: rgb(36, 34, 34); /** Change This Value ***/
-ms-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
z-index: 1;
}

#after2
{
display: block;
content: '';
width: 130px;
height: 65px;
bottom: -50px;
left: 50%;
margin-left: 46%;
background-color: black; /** Change This Value ***/
-ms-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
z-index: 1;
}

#after3
{
display: block;
content: '';
width: 130px;
height: 65px;
bottom: -40px;
left: 50%;
margin-left: 46%;
background-color: rgb(193, 193, 204); /** Change This Value ***/
-ms-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
z-index: 1;
}




/* Gallery Tile CSS */
#gallery
{
    margin: 0;
    background-color: rgb(36, 34, 34);
}

/* Blog Tile CSS */
.blog
{
    width: 48%;
    height: 50%;
    padding-left: 1%;
    padding-right: 1%;
    float: left;
}

#newestBlogs
{
    background-color: black;
}
h1
{
    text-align: left;
}

h3
{
    text-align: center;
}

/* Google maps block */
#basicInfo
{
    width: 50%;
    height: 350px;
    padding-right: 25%;
    padding-left:25%;
    padding-top:5%;
    padding-bottom:5%;
    float: left;
    margin-bottom:0;
    
}



 /* Nav CSS */

 /*INSIDE ulNAV -background-color: rgba(73, 73, 73, 0.8);
 INSIDE aNav -text-shadow: 2px 2px black;
 */
#ulNav
{
    z-index: 99998;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    
    
}
/*liNAV- border-right: 2px solid #bbb;*/
#liNav 
{
    font-size: 30px;
    border-right: 2px solid white;
    display: inline-block;
    margin-right:1%;
    
    
}
#liNav:last-child
{
    border-right: none;
}
#aNav
{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 1s;
    font-weight:bold;
    font-family: 'Courier', courier new, serif;
    text-transform: uppercase;
}
#aNav:hover
{
    background-color: #111;
    color:white;
    border-radius:5px;
}
#aNav:active
{
    background-color: #120fbf;
}

#googleMaps
{
    background-color: black;
    
}


/*tileTitle applies to whatever main block on home page needs a title
*/
#aboutUs
{
    background-color: black;
    padding-bottom: 2%;
}
.tileTitleLeft
{
    float:left;
    width:30%;
    margin-left:6%;
    padding-top: 13%;
    font-size: 50px;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-weight: bold;
    color:white;
}
.tileTitle
{ 
    width:30%;
    margin-left:33%;
    padding-top: 4%;
    font-size: 50px;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-weight: bold;
    color:white;
}
.tileTitle-gallery
{ 
    width:30%;
    margin: auto;
    padding-top: 4%;
    font-size: 50px;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-weight: bold;
    color:white;
}
#paragraphAboutUs
{
    float:left;
    margin-top: 2%;
    margin-left: 8%;
    font-size: 18px;
    line-height:1.5em;
    width:32%;
    margin-right:4%;
    font-family: 'Work Sans', sans-serif;
    color:white;

}

.paragraphBlog1
{
    float:left;
    margin-top: 7%;
    margin-left:13%;
    font-size: 15px;
    width:29%;  
    font-family: 'Work Sans', sans-serif;
    color:white;
    
}

.paragraphBlog2
{
    float:left;
    margin-top: 7%;
    margin-left: 8%;
    margin-right:13%;
    font-size: 15px;
    width:29%;
    font-family: 'Work Sans', sans-serif;    
    color:white;
    position:relative;
    
}

.blogcontain
{
    width: 90%;
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
    overflow: none;
    margin-top: 5%;
    background-color: black;
    margin-bottom:8%;
    
}

/*Contact Listing*/
.list{
    margin-top:5%;
    text-align:left;
    float:left;
	margin-left:13.3%;
	height:25%;
    width:18%;
    font-weight:bold;
    
}

/*Button Properties*/
#myBtn
{
    display: none;
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 99;
    font-size: 13px;
    border: none;
    outline: none;
    background-color: rgb(16, 13, 218);
    color: rgb(238, 223, 223);
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    transition-duration: 0.4s;
  }
  
  #myBtn:hover 
  {
    background-color:black;
  }

/*Css for hovering over artist portfolio*/
#artphoto
{
    text-align:center;
    color:white;
    font-size: 60px;
    text-shadow: 3px 3px black;
    font-family: 'Work Sans', sans-serif; 
    font-weight: bold;
    display:block;
    height:500px;
    background-image: url('images/portfolios3.jpg');
    background-size: cover;
    filter: brightness(77%);
}
.center
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.hovertext
{
    width:400px;
    height:300px;
    display:inline-block;
    margin:5.5%;
    position:relative;
}

.hovertext img{
    width:100%;
    height:100%;
    border-radius:4px;
    transition:0.5s;
  
}

/*Got rid of blur DON'T USE BLUR*/
.hovertext:hover img
{
    
    filter: brightness(40%);
    box-shadow:0 0 18px rgb(16, 16, 175);
}
.hovertext :not(img){
    position:absolute;
    top:60%;
    z-index:1;
    color:#fff;
    text-align:center;
    width:100%;
    opacity:0;
    transition:.3s;
    backface-visibility: hidden;
}

.hovertext:hover :not(img){
    opacity:1;
    
}

.aNavCopy
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: default;
}

.generic-button
{
    background-color: #120fbf;
    color: white;
    border: #111;
    font-family: 'Courier', courier new, serif;
    cursor: pointer;
    transition-duration: 0.4s;
}
.manageButt
{
    background-color: #120fbf;
    color: white;
    border: #111;
    font-family: 'Courier', courier new, serif;
    font-size: 50px;
    height: 16%;
    width: 100%;
    margin-top: 2%;
    cursor: pointer;
    transition-duration: 0.4s;
}
.manageButt:hover
{
    background-color: black;
}
#loginButt
{
    position: relative;
    left: 10px;
    font-size: .7em;
    border: none;
    outline: none;
    color:black;
    background: white;
    cursor: pointer;
    padding: 6px;
    border-radius: 4px;
    transition-duration: 0.4s;
    opacity: .8;
  }
  
  #loginButt:hover 
  {
    background-color: black;
    color: white;
  }


#contain
{
    text-align:center;
    height:500px;
    background-image: url('images/shop1.png');
    background-size: cover;
    filter: brightness(77%);
}

/* gallery */

#footer
{
    height:280px;
    width:100%;
    padding-top:6px;
    background-color:white;
    float:left;
   

}
.breaker
{
    width:20%;
    margin-left:38.5%;
    margin-top:3px; 
    border-top:2px solid #000;
}


#informationcontainer
{
    float:left;
    padding-top:1.5%;
    width:5%;
    height:85%;
    
}

.contacts
{
    margin-top:29%;
    margin-left:15%;
    display:block;  
}

.logo
{
    margin-left:21.5%;
    padding-top:2.5%;
}

#facebook2
{
    margin-top:0.2%;
    height:50px;
    width:7%;
    float:left;
    margin-left:1%;
  
}  


#facebook
{
    height:12%;
    width:2.5%;
    margin-left:23%;
}

#instagram
{
    height:12%;
    width:3%;
    margin-left:1.5%;
}

#ulforinformation
{
    font-family: 'Work Sans', sans-serif;
    font-weight:bold;
    float:left;
    padding-top:1.5%;
    width:15%;
    height:85%;
    line-height:3.5em;
    font-size:1em;
    
}

ul{
    list-style-type: none;
    padding-left:0;
}

.homepage
{
    float:right;
    font-size:24px;
    font-family: 'Work Sans', sans-serif;    
    font-weight:bold;
    margin-right:4%;
    margin-top:10%;
    position:relative;
    
    
}
.whitetext:hover
{
    color:rgb(13, 10, 172);
    transition-duration: 0.8s;
}

.whitetext
{
    
    color:rgb(34, 27, 27);
    text-decoration: none;
}

@media only screen and (max-width:1600px)
{
    .paragraphBlog1
    {
        margin-left:7%;
    }
    .leftImg
    {
        width:50%;
    }
    .paragraphBlog2
    {
        margin-right:7%;
    }

    #informationcontainer
    {
        padding-top:2%;
    }
    
}

@media only screen and (max-width:1820px){
    .hovertext
    {
        margin:5%;
    }
}

@media only screen and (max-width:1745px){
    .hovertext
    {
        margin:4.5%;
    }
}

@media only screen and (max-width:1675px){
    .hovertext
    {
        margin:3.5%;
    }
}

@media only screen and (max-width:1550px){
    .hovertext
    {
        margin:2.5%;
    }
}



#banner-logo
{
    height:50px;
    width:15%;
    float:left;
    top: 5px;
    left: 10px;
    z-index: 99999;
    position: absolute;
}
.center-logo
{
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

/*
<div id='address' class='footer'>
            
                <p>
                    <h1>(587) 425-4219</h1>
                    
                </p>
                
            </div>
            */


/* GALLERY SLIDESHOW https://codepen.io/tym0/pen/KwrOKX */

.hidden {
    display: none;
  }
  
  .container {
      max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    margin-bottom: 10vh;
  }
  
  .container > div {
    display: inline-block;
  }
  
  #slideshow {
    margin: 0;
    position: relative;
    width: 100%;
    height: 500px;
  }
  
  #slideshow > div {
      position: absolute;
      top: 0; 
      left: 0; 
      right: 0; 
      bottom: 0; 
  }
  
  #slideshow img {
      width: 100%;
      height: 100%;
    margin: 0;
  }

  #slideshow1 {
    margin: 0;
    position: relative;
    width: 100%;
    height: 500px;
  }
  
  #slideshow1 > div {
      position: absolute;
      top: 0; 
      left: 0; 
      right: 0; 
      bottom: 0; 
  }
  
  #slideshow1 img {
      width: 100%;
      height: 100%;
    margin: 0;
  }
  
  #slideshow2 {
    margin: 0;
    position: relative;
    width: 100%;
    height: 500px;
  }
  
  #slideshow2 > div {
      position: absolute;
      top: 0; 
      left: 0; 
      right: 0; 
      bottom: 0; 
  }
  
  #slideshow2 img {
      width: 100%;
      height: 100%;
    margin: 0;
  }