#wrapper{
    width: 80%;
    border-style: solid;
    margin: 0 auto;
    background-color: #737373;;
}

.button{
    background-color:#120fbf; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;

    transition-duration: 0.4s;
    cursor: pointer;
  
}

.button:hover{
    background-color:black;
   
   
}

.delbutton{
    background-color:#120fbf; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;

    transition-duration: 0.4s;
    cursor: pointer;
  
}

.delbutton:hover{
    background-color:red;
   
   
}


/* adpated from https://www.w3schools.com/css/css3_buttons.asp */