body
{
    color: white;
    margin-top: 100px;
    font-family: 'Work Sans', sans-serif;
}
#wrapper
{
    margin: auto;
    padding: 0;
    width: 80%;
}
.checkoutButt
{
    padding: 20px 100px;
    background-color: #120fbf;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.4s;
}
.checkoutButt:hover
{
    background-color: black;

}
#page-header
{
    font-size: 4em;
}
#page-subheader
{
    font-size: 3em;
}
tr.item-row td
{
    border-bottom: 1px solid white;
}
.cell-left
{
    text-align: left;
}
.cell-center
{
    text-align: center;
}
.cell-right
{
    text-align: right;
}
table
{
    width: 100%;
}
th
{
    font-size: 1.8em;
}
td
{
    font-size: 1.3em;
}
.quantity
{
    padding: 5px 15px;
    width: 50px;
    color: white;
    background-color: black; 
    text-align: center;
    cursor: default;
}
.quantityButts
{
    border: none;
    padding: 5px 15px;
    color: white;
    background-color: #120fbf;
    cursor: pointer;
}
.quantityButts:hover
{
    background-color: black
}
