#orderPage
{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.orderTitle
{
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}
.orderTitle-small
{
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}